nav h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding-top: 48px;
}
nav p{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 24px;
  color: #7D4C23;
}

.closebtn p{
  font-size: .75rem;
  font-style: normal;
  margin-top: -8px;
}
.nav-toggle{
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #E8D9B2;
    padding: 1rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    z-index: 2;
}
.nav-toggle.home {
  text-align: center;
  border-radius: 4rem;
  padding: 0;
  cursor: pointer;
}
.nav-toggle.home:hover img {
  background-image: none;
}
.nav-toggle p{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  color: #7D4C23;

}
.fixed-r{
    position: fixed;
    top: 20px;
    /* margin: 1rem; */
    margin-right: 5rem;
}
.fixed-l{
  position: fixed;
  top: 20px;
  left: 170px;
  /* margin: 1rem; */
  margin-right: 5rem;

}
.nav-toggle .menu-toggle{
    background-image: url('assets/img/07-icones-logotipos/icon-menu.svg');
    height: 20px;
    background-repeat: no-repeat;
}
.nav-toggle-header{
  width: 72px;
  height: 72px;
  background-color: #FFF;
  transition: background-color ease-in-out 0.5s;

}
.nav-toggle-hover:hover{
    background-color: orange;
    transition: background-color ease-in-out 0.5s;
    color: #FFF;
}
.nav-toggle:hover img{
    background-image: url('assets/img/07-icones-logotipos/icon-menu-white.svg');
}

.nav-bar{
    display: none;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-image: url('assets/img/07-banners/fundo-menu-fullscreen-desktop.jpg');
    background-position-y: 110%;
    background-repeat: no-repeat;
    background-color: rgb(254 254 254);
    overflow-x: hidden;
    transition: 0.5s;
    background-size: contain;
  }
  
  .overlay-content {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
  }

  .overlay a {
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.3s;
  }

  /* .overlay.a.passarinho {
   max-width: 60px;
  } */
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 0.75rem;
    z-index: 2;
  }


  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
