@font-face {
    font-family: 'Gradia-Bold';
    src: url('../Gradia/Gradia\ Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gradia-Italic';
    src: url('../Gradia/Gradia\ Bold\ Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gradia-Light';
    src: url('../Gradia/Gradia\ Light.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Gradia-Regular';
    src: url('assets/fonts/Gradia/Gradia\ Regular.otf') format('truetype');
  }
  @font-face{
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  }

.header-banner{
    background-image: url('assets/img/07-banners/banner-desktop-completo-1360.jpg');
    background-size: cover;
    background-position: bottom;
    height: 768px;
    width: 100%;
}
.content-title{
    margin-bottom:3rem;
}
.content-text{
    padding: 2.8rem 1.5rem;
    padding-bottom: 0;
}   
.content-image{
    padding-top: 2rem;
    width: 376px;
    height: 356px;
}

.btn{
    border: none;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background: #f0792d;
    color: #fff;
    border-radius: 4px;
    font-family: 'Gradia';
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s ease-in;
}
a.btn {
    text-decoration: none;
}
.btn:hover{
    background-color: #b3784c;
    transition: 0.5s ease-in;
}

.slide-section{
    background-image: url('assets/img/01-home/depoimentos-bg.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-position: bottom;
    padding: 3rem;
}
.slide-title{
    padding:1rem
}
.slide-title h1{
    font-size: 50px;
}

.pictures-section{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.pictures-section .image-card img{
    width: 99%;
    transition: filter 0.3s ease-in;
}
.pictures-section.relative img{
    position: relative;
    bottom: -5px;

}
.pictures-section .image-card img:hover{
    width: 99%;
    filter: grayscale(1);
    transition: filter 0.3s ease-in;
}
.footer-section{
    background-image: url('assets/img/07-banners/rodape-desktop-3.jpg');
    background-size: cover;
    height: 200px;
    padding: 1rem;
}

.footer-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-2{
    padding: 0px 2rem;
}
.footer-2 .text-box p{
    font-size: 12px;
    margin-bottom: 0.50em;
}
.footer-2 .text-box h2{
    font-size: 16px;
    padding: 0;
}
.footer-2 .text-box{
    text-align: left;
}
.footer-2 .text-box a{
    line-height: 0;
}
.footer-2 .text-box p{
    margin-bottom: 1.5em;
}
.text-box{
    cursor: pointer;
    text-align: center;
}

.text-box a {
    text-decoration: none;

}
.text-box p {
    font-size: 16px;
    font-style: italic;
}
.text-box a > p{
    text-decoration: none;
    font-size: 24px;
    color:#7d4c23;
}
.text-box a:hover  p {
    color:#f0792d
}
.text-box a:hover h2 {
    color:#f0792d
}
.text-box a:hover h4 {
    color:#f0792d
}

/* .text-box:hover h2{
    color: #f0792d;
    transition: 0.5s ease-in-out;
}
.text-box:hover i{
    color: #f0792d;
    transition: 0.5s ease-in-out;
} */

footer{
    height: 50px;
    background-color: #2f2a2e;
}
footer > span {
    margin: 0 25px;
}
footer > img{
    margin: 0 10px;
}

.banner-2{
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 333px;
    text-align: center;
    padding: 5rem;
}
.banner-2 h1 {
    font-size: 64px;
}

.banner-2 p {
    color: #7D4C23;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
/* Sobre */

.b-sobre{
    background-image: url('assets/img/07-banners/pag-fotografa-banner.jpg')
}

.sobre-texto{
    margin-bottom: 104px;
    padding: 0 114px;
    text-align: inherit;
}
.content-flex{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.sobre-texto p{
  font-size: 24px;
  margin-bottom: 24px;
}

.texto-meio {
    margin-bottom: 104px;
}

.texto-meio h2 {
    color: #B3784C;
    font-size: 32px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.texto-meio p {
    max-width: 204px;
    color: #B3784C;
    font-size: 20px;    
    text-align: center;
    margin: 0 auto;
}
.texto-meio > div{
    margin-bottom: 2rem;
}
.col-12.img-sobre {
    text-align: center;
    margin-bottom: 104px;
}


/* Portfólio de ensaios */

.banner-historias{
    background-image: url(assets/img/07-banners/pag-historias-banner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 333px;
    text-align: center;
    padding: 5rem;
}

.banner-historias h1 {
    font-size: 64px;
}

.banner-historias p {
    color: #7D4C23;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.b-historias{
    background-image: url('assets/img/07-banners/pag-historias-banner.jpg');
}

.ensaios {
    width: 786px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
}

.texto-topo p {
    font-size: 24px;
    margin-bottom: 80px ;
}

.box-image h2 {
    text-align: center;
    padding: 32px 0 24px;
    font-size: 32px;
}

.box-image{
    margin-bottom: 3rem;
}

.box-image p {
    padding: 0 0 16px 0;
}

.box-image a {
    padding: 8px 16px;
    text-decoration: none;
    color: #7d4c23;
    font-family: 'Gradia-Regular', sans-serif;
    background: #FFFBEB;
    border-radius: 4px;
}

/* Como é o ensaio */
.text-content{
    padding: 0;
}
.text-content h2{
    font-size: 40px;
}
.image-content{
    padding: 0 3rem;
}
.banner-ensaio{
    /* background-image: url(assets/img/07-banners/desktop-banner-mexico-encantador.jpg); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 333px;
    text-align: center;
    padding: 5rem;
}

.banner-ensaio h1 {
    font-size: 64px;
}

.banner-ensaio p {
    color: #7D4C23;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.acordion-section{
    background-color: #F6ECE0;
    padding-top: 5rem;
    background-image: url(assets/img/05-Como-e-ensaio/fundo-accordion-base.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Galeria de fotos */

.banner-galeria{
    background-image: url(assets/img/07-banners/desktop-banner-mexico-encantador-2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 333px;
    text-align: center;
    padding: 5rem;
}

.banner-galeria h1 {
    font-size: 64px;
}

.banner-galeria p {
    color: #7D4C23;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

/* Contato */

.banner-contato{
    background-image: url(assets/img/07-banners/banner-volte-ao-passado-comigo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 333px;
    text-align: center;
    padding: 5rem;
}

.banner-contato h1 {
    font-size: 64px;
}

.banner-contato p {
    color: #7D4C23;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.form-content{
    text-align: center;
}
.form-content > h1{
    margin-bottom: 70px;
}
.form-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-input-style{
    width: 47%;
    margin: 1px;
    border: none;
    font-size: 16px;
    border-bottom: #A3987C 1px solid;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    color: #B3784C;
}
.form-input-style::placeholder{
    color: #B3784C;
}
.form-input-style.full{
    width: 100%;
    padding-bottom: 3rem;
}
.form-btn-style.btn{
    background-color: #FFFBEB;
    border: #E8D9B2 1px solid;
    color: #A3987C;
    font-size: 24px;
    padding: 16px 24px;
    border-radius: 8px;
}
/* Política de privacidade */

.banner-politica{
    background-image: url(assets/img/07-banners/banner-para-fotografos.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 333px;
    text-align: center;
    padding: 5rem;
}

.banner-politica h1 {
    font-size: 64px;
}

.banner-politica p {
    color: #7D4C23;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

.banner-politica a{
    text-decoration: none;
}

/* Para fotógrafos */

.preset-content{
    margin-bottom: 90px;
}
.preset-card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.preset-header img{
    margin-bottom: 40px;
}
.preset-header h2{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.075em;
    font-feature-settings: 'liga' off;
    color: #7D4C23;
}
.preset-body{
    padding: 1rem 3rem;
    margin-bottom: 24px;
}
.preset-body p{
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.025em;
    text-align: left;
}
.preset-price small{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.025em;
    color: #A3987C;
    margin-bottom: 8px;
}
.preset-price small > span{
    text-decoration: line-through;
}
.preset-price strong {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
letter-spacing: 0.025em;
color: #F0792D;
}
.preset-price{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.preset-button .btn{
    padding: 16px 32px;
    font-family: 'Gradia';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.075em;
}
/* Preset */
.preset-big-card{
    display: flex;
    flex-direction: column;
    padding: 0 114px;
    margin-bottom: 100px;
}
.big-card-content{
    margin-bottom: 30px;

}
.big-card-title{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.big-card-title img{
    margin-right: 1rem;
}
.big-card-title p {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

/* AG-9-call to action */

color: #F0792D;
}
.big-card-title strong {
    color: #F0792D;

}
.preset-text p{
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}
.preset-text h1{
    margin-bottom: 30px;
}
.big-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.big-card-footer > .preset-price{
    align-items: baseline;
}