*,::after,::before{
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    color: #7d4c23;
    font-family: 'Gradia-Regular', sans-serif;
    font-weight: 400;
    letter-spacing: 0.075rem;
    -webkit-font-smoothing: antialiased;
    
}
h1{
    font-size: 40px
}
p {
    color: rgb(32 32 32);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.075px;
    line-height: 2rem;
}
body{
    font-family: 'Open Sans',sans-serif
}

img{
    max-width: 100%;
}
strong{
    font-weight: 900;
    color: #ac7146;
    font-family: 'Arial';
}

footer{
  text-align: center;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    margin: 0 auto;
}
.content{
  margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.row-home{
  margin-bottom: 104px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-bottom: 80px;
}
.margin-header{
  margin-bottom: 80px;
}
.margin-b-5{
    margin-bottom: 5rem;
}
.text-align-c{
    text-align: center;
}
.d-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.column-reverse{
  flex-direction: row;
}
.text-top{
  margin-top: 80px;
}



.d-block{
  display: block;
}

/* Extra small devices (portrait phones, less than 576px) */
.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1 {
    width: 8.33333333%;
  }
  .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2 {
    width: 16.66666667%;
  }
  .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3 {
    width: 25%;
  }
  .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4 {
    width: 33.33333333%;
  }
  .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5 {
    width: 41.66666667%;
  }
  .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6 {
    width: 50%;
  }
  .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7 {
    width: 58.33333333%;
  }
  .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8 {
    width: 66.66666667%;
  }
  .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9 {
    width: 75%;
  }
  .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10 {
    width: 83.33333333%;
  }
  .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11 {
    width: 91.66666667%;
  }
  .col-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
    width: 100%;
  }
  
  @media screen and (min-width: 980px) {
    .container{
      width: 1360px;
    }
    .content{
      width: 980px;
    }
    .col-1 {
    width: 8.33333333%;
  }
  .col-2{
    width: 16.66666667%;
  }
  .col-3{
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-5{
    width: 41.66666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-11{
    width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }

  }
  /* Small devices (landscape phones, 576px and up) */
  @media screen and (max-width: 576px) {

    .d-md-none{
      display: none;
    }
    /* Banner */
    .banner-2{
      height: 200px;

    }
    .banner-2 h1{
      font-size: 32px;
    }
    .banner-2 p{
      font-size: 16px;
    }
    .header{
      margin-bottom: 40px;
    }
    /* SLIDE */
    .slider{
      max-width: 100%!important;
    }
    .slide-section{
      height: auto;
      padding: 1rem;
      background-size: cover;
      background-image: url('../img/07-m-banners/m-depoimentos-fundo.jpg');
    }
    .d-flex{
      flex-wrap: wrap;
    }
    .slide_viewer{
      height: 870px!important;
      overflow: visible;
    }
    .slide-text p{
      padding: 0!important;
    }
    /* SLIDE */
    .header-banner{
      height: 400px;
    }
    .content-image{
      margin: 0 auto;
    }
    .fixed-r{
    margin: 1rem;
    }
    .fixed-l{
      left: 0;
    }
    .btn{
      padding: 1.5rem 1rem;
      font-size: 1.50rem;
    }

    
    .pictures-section{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .column-reverse{
      flex-direction: column-reverse;
    }
    /* Footer*/
    footer{
      flex-direction:column;
      height: auto;
    }
    .footer-section{
      height: auto;
      background-image: none;
    }
    .footer-about{
      flex-direction: column;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-12 {
      width: 100%;
  }

  /* Sobre */
  .b-sobre{
    background-image: url('../img/07-m-banners/m-header-fotografa.jpg')
  }
  .sobre-texto{
    padding: 0 1rem;
    text-align: justify;
    margin-bottom: 3rem;
  }
  .sobre-texto p{
    font-size: 20px;
  }
  .texto-meio{
    margin-bottom: 40px;
  }
  .texto-meio h2{
    margin-bottom: 1rem;
  }
  .texto-meio p{
    max-width: 100%;
    font-size: 16px;
  }
  .footer-2{
    align-items: center;
    margin-bottom: 3rem;
  }
  .footer-2 .text-box {
    text-align: center;
}
  .footer-2 .text-box p{
    margin-bottom: 2.5em;
  }
  .footer-2 > .text-box:first-child{
    margin-bottom: 2rem;
  }
  /* portfolio-ensaios */
  .box-image{
    padding: 1.75rem;
    margin-bottom: 0;
  }
  .ensaios{
    margin-bottom: 40px;
  }
  .ensaios.box-image p{
    padding: 1rem;
  }

  .texto-topo p {
    font-size: 16px;
    line-height: 2.75rem;
    margin-bottom: 0;
    padding: 1rem;
}

.b-historias{
  background-image: url('../img/07-m-banners/m-header-historias.jpg');
}
/* Como e ensaio */
.text-content{
  padding: 1rem;
}
.text-content h2{
  font-size: 32px;
  margin-bottom: 24px;
}
.image-content{
  padding: 3rem;
}
}