@font-face {
  font-family: 'Gradia-Bold';
  src: url('../Gradia/Gradia\ Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gradia-Italic';
  src: url('../Gradia/Gradia\ Bold\ Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gradia-Light';
  src: url('../Gradia/Gradia\ Light.otf') format('truetype');
}

@font-face {
  font-family: 'Gradia-Regular';
  src: url('../Gradia/Gradia\ Regular.otf') format('truetype');
}

body {
  font-family: 'Gradia-Regular';
  font-style: normal;
} 

.menu-container {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  color: rgb(10, 10, 10);
}

a {
  color: currentColor;
}